<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SITA Automation">
  <test name="Make Reservation">
      <parameter name="name" value="Priyanka Dirisala"/>
      <parameter name="phone" value="+447342226260"/>
      <parameter name="numOfGuests" value="4+"/>
      <parameter name="destination" value="Italy, Roma"/>
      <classes>
      <class name="test.java.SitaAutoTask"/>
      </classes>
  </test>  
  
</suite> 